:root {
	--fontFamily: "DM Sans", sans-serif;
	--headingFont: "Plus Jakarta Sans", sans-serif;
	--mainColor: #6600ff;
	--mainColor2: #43a5fe;
	--mainColor3: #ff4800;
	--secounderyColor: #f2edeb;
	--paragraphColor: #7a7a7a;
	--paragraphColorSecond: #b9b9ba;
	--gridColor: linear-gradient(94deg, var(--mainColor2) 21.18%, #0064c1 104.4%);
	--whiteColor: #ffffff;
	--blackColor: #16171a;
	--LightBg: #fcfaf8;
	--DarkBg: #05051e;
	--fontSize: 17px;
	--transition: 0.5s;

	/* media breakpoint queries */
	--bs-breakpoint-xs: 0;
	--bs-breakpoint-sm: 576px;
	--bs-breakpoint-md: 768px;
	--bs-breakpoint-lg: 992px;
	--bs-breakpoint-xl: 1200px;
	--bs-breakpoint-xxl: 1400px;
}

*{
  padding: 0;
  margin: 0;
  font-family: var(--fontFamily) !important;
}